* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 15rem;
    font-family: "Speedee Regular", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
    vertical-align: middle;
}